//colors
$black: #000;
$blackHalfOp: rgba($black,0.5);
$white: #fff;
$whiteGrey: #f8f8f8;
$mainGreen: #76c7c0;
$darkGreen: #62a29e;
$borderGreen: #62bdbd;
$darkDarkgreen: #528b86;
$footerGreen: #6ab3ac;
$bgGreen: #90d1cb;
$grayGreen: #81bcb6;
$bgGrey: #f3f3f3;
$LightGrey: #ececec;
$darkGrey: #7f8c8c;
$GreyPar: #777777;
$mainOrange: #e8645a;
$lightOrange: #e2534b;
$txtOrange: #e1524b;
$shadowGrey: #e5e6e6;
$borderGrey: #e1e2e2;
$bgDarkGrey: #98a3a3;
$iframeGrey: #b0b8b9;
$ibgDarkGrey: #3f4646;
$iconBgGreen: #76b7b1;
$iconColorGreen: #62b9b0;


